.l-gallery {
  background-color: #ececec;
  grid-area: gallery;
  max-width: 1000px;
  margin: -150px auto 0;
  background-color: white;
  z-index: 1;
  border-radius: 7px;
  border-bottom: 7px solid #51c03d;
}

.l-gallery-title {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #818181;
  font-size: 22px;
}